
#survey-form:{al}
#title{text-align: center; color:black;}
#description{ font-size: 20px;text-align: center; color:black;}
#divcol{background-color:rgba(27, 27, 50, 0.8); width: 700px; opacity: 1; margin:auto; height: 1500px;}
#name{text-align: justify; font-size: 25px; color:white; padding: 0px; position:relative; left:20px; top: 40px;}
#email{ text-align: justify; font-size: 25px; color:white; padding: 0px; position:relative; left:20px; top: 40px;}
#name-label{width: 600px; height: 5px; padding:20px;}
#email-label{width: 600px; height: 5px; padding:20px;}
#number-label{width: 600px; height: 5px; padding:20px;}
#dropdown{}
#submit{width: 600px; height: 50px; text-align: center;position:relative; left:20px; top: 210px; background-color: green; color: white; font-size: 20px; font-weight: bold;}
#role{width: 600px; height: 5px; padding:20px;}
#recommend{width: 600px; height: 5px; padding:20px;}
#recommend-word{color:white; font-size:20px;}
#comment {text-align: center; font-size: 25px; color:white; padding: 10px; position:relative; left:20px; top: 40px;}
#comment-label{width: 600px; height: 100px; padding:20px; position:relative; left:px; top: 300px; color:white; font-size:25px;}
#comment-lab{ width: 600px; height: 100px; position:relative; left:px; top: 166px; padding:20px;font-size:20px;}
#new{color:white; font-size:25px;}

body {
  background-image: url(https://images.unsplash.com/photo-1526666923127-b2970f64b422?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8ZXh0cmElMjBsYXJnZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
  background-repeat: round;
}
