

#title{text-align: center;}
#description{ font-size: 20px;text-align: center; color:black;}
#divcol{background-color:rgba(27, 27, 50, 0.8); width: 700px; opacity: 1; margin:auto; height: 1500px;}
#name{text-align:; font-size: 25px; color:white; padding: 0px; position:relative; left:20px; top: 40px;}
#name1{text-align:; font-size: 25px; color:white; padding: 10px; position:relative; left:20px; top: 100px;}
#email{ text-align: ; font-size: 25px; color:white; padding: 0px; position:relative; left:20px; top: 40px;}
#email1{ text-align: ; font-size: 25px; color:rgb(0, 0, 0); padding: 0px; position:relative; left:20px; top: 350px;}
#name-label{width: 600px; height: 5px; padding:20px;}
#email-label{width: 600px; height: 5px; padding:20px;}
#number-label{width: 600px; height: 5px; padding:20px;}
#dropdown{}
#submit{width: 565px; height: 50px; text-align: center;position:relative; left:20px; top: 360px;  font-size: 20px; font-weight: bold;}
#role{width: 600px; height: 5px; padding:20px;}
#role1{width: 600px; height: 5px; padding:30px; position: relative; top: 40px;}
#recommend{width: 600px; height: 5px; padding:20px;}
#recommend-word{color:white; font-size:20px;}
#comment {text-align: center; font-size: 25px; color:white; padding: 10px; position:relative; left:20px; top: 40px;}
#comment-label{width: 600px; height: 100px; padding:20px; position:relative; left:px; top: 400px; color:white; font-size:25px;}
#comment-lab{ width: 600px; height: 100px; position:relative; left:px; top: 166px; padding:20px;font-size:20px;}
#new{color:white; font-size:25px;}

body {
  background-image: url(https://images.unsplash.com/photo-1526666923127-b2970f64b422?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8ZXh0cmElMjBsYXJnZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
  background-repeat: round;
  background-attachment: fixed;
}
@media(max-width:400px){
  #divcol{width: 400px; height: 2000px;}
  #name-label{width: 350px; padding:20px;}
  #email-label{width: 350px; }
  #number-label{width: 350px;}
  #role{width: 350px; }
  #role1{width: 350px;}
  #email1{ width: 350px;}
  #submit{width: 350px;}
}

@media(max-width:250px){
  #divcol{width: 370px; height: 2500px;}
  #name-label{width: 250px; padding:20px;}
  #email-label{width: 250px; }
  #number-label{width: 250px;}
  #role{width: 250px; }
  #role1{width: 250px;}
  #email1{ width: 250px;}
  #submit{width: 250px;}
  #name1{padding-top: 10px; margin-left: 10px;}

}